@media screen and (max-width: 640px){
	.task-type-choose{
		display: flex;
		flex-direction: column;
		min-width: 82px;
	}

	.actions{
		align-items: center;
	}

	.todo-app::after{
		top:573px;
	}

	.todo-app::before{
		top:581px;
	}

	.actions-item:last-child{
		display: flex;
		flex-direction: column;
		word-break: all;
	}
}