@media screen and (max-width: 640px){
	.actions{
		align-items: center;
	}

	.todo-app::before{
		left:50%;
		margin-left:-172px;
	}

	.todo-app::after{
		left:50%;
		margin-left:-175px;
	}
}